@media only screen and (min-width: 1024px) {

  header.top {
    width: 25%;
    top: none;
    float: left;
    display: inline-flex;
    margin: 10% 5%;
    padding: 1em;
    text-overflow: unset;
    justify-content: center;
    height: 500px;
  }

  .container {
    width: 55%;
    display: inline-flex;
    float: right;
    margin: 2% 2%;
  }

}